

@model ScallopShellProject.Models.IndexViewModel


<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">

                            @{int contador = 0;

                                @foreach (var item in Model.article.ImageList)
                                {

                                    {
                                        var base64 = Convert.ToBase64String(item.ImageByte);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                        <li class="active" data-target="#product_details_slider" data-slide-to="@contador" style="background-image: url('@imgSrc')">
                                        </li>

                                        contador = contador + 1;
                                    }


                                }
                            }
                        </ol>
                        <div class="carousel-inner">
                            @*<div class="carousel-item active">
            <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                <img class="d-block w-100" src="img/product-img/pro-big-1.jpg" alt="First slide">
            </a>
        </div>*@

                            @for (int i = 0; i < Model.article.ImageList.Count; i++)
                            {





                                {
                                    var base64 = Convert.ToBase64String(Model.article.ImageList[i].ImageByte);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                    if (i == 0)
                                    {
                                        <div class="carousel-item active">
                                            <a class="gallery_img" href="@imgSrc">
                                                <img class="d-block w-100" src="@imgSrc" alt="Second slide">
                                            </a>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <a class="gallery_img" href="@imgSrc">
                                                <img class="d-block w-100" src="@imgSrc" alt="Second slide">
                                            </a>
                                        </div>
                                    }


                                }


                            }


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">@Model.article.PrecoUnit.ToString("0.00") €</p>
                        <a href="product-details.html">
                            <h6>@Model.article.Descricao</h6>
                        </a>
                        <!-- Ratings & Review -->
                        @*  <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
        <div class="ratings">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="review">
            <a href="#">Write A Review</a>
        </div>
                    </div>
                        <!-- Avaiable -->
                        @*<p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>*@
                    </div>

                    <div class="short_overview my-5">
                        <p>DESCRICAO AQUI FAZ SENTIDO??</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post">
                 
                            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    //$(document).ready(function () {

    //    $(".carousel-item").find("[href]").each(function () {
    //    //    if (this.href.split("?")[0] == window.location.href.split("?")[0]) {
    //    //        $(this).addClass("active");
    //    //    }
    //    //});



    //    //$("#ati").find("[href]").each(function () {
    //    //    if (this.href.split("?")[0] == window.location.href.split("?")[0]) {
    //    //        $(this).addClass("active");
    //    //    }
    //    //});


    //})


</script>

